@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Lato, Helvetica , sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f172a, #1e293b);  
}